<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <style>
        #front_page {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .text {
            margin-left: 30px;
            margin-right: 30px; /* optional: gives it room on the other side */
            text-align: justify;
        }

        .page_break {
            page-break-after: always;
        }
    </style>
</head>

<body>

    <div id="front_page">
        <div>
            <h4>Innovación para la vinculación socioproductiva 2025</h4>
        </div>
        <div>
            <h1>{{nombre_proy}}</h1>
        </div>
        <div>
            <h2> {{nombre}}</h2>
        </div>
        <div>
            <h3>Email: {{correo}}</h3>
        </div>
        <div>
            <h3>Número: {{telefono}}</h3>
        </div>
    </div>


    <div class="page_break"></div>

    <!--Contenido de propuesta -->


    <div>
        <h2>1. Nombre del Proyecto</h2>
        <p class="text">{{nombre_proy}}</p>
    </div>
    <div>
        <h2>2. Resumen del Proyecto</h2>
        <p class="text">{{resumen_proy}}</p>
    </div>

    <div class="page_break"></div>

    <h2>3. Objetivo General</h2>
    <p class="text">{{obj_general}}</p>

    <h2>4. Objetivos Específicos</h2>
    <p class="text">{{obj_especificos}}</p>
  <!--

    <h2>5. Proyectos Previos</h2>
  
    {% for proyecto in proy_previos %}
        <p><strong>Codigo:</strong> {{proyecto.nombre_codigo}}</p>
        <p><strong>Fuente de finaciamiento:</strong> {{proyecto.fuente_fin}}</p>
        <p><strong>Años de ejecución:</strong> {{proyecto.anos_ejecu}}</p>
        <p><strong>Resumen:</strong> {{proyecto.resumen}}</p>
    {% endfor %}
    -->

    <h2>5. Problema</h2>

    <h3>5.1 ¿Cuál es el problema, oportunidad o necesidad que da origen a su proyecto?</h3>
    <p class="text">{{problema}}</p>
    <h3>5.2 ¿A quienes afecta este problema, oportunidad o necesidad?</h3>
    <p class="text">{{afectados}}</p>
    <h3>5.3 ¿Cuál es el tamaño del problema, oportunidad o necesidad?</h3>
    <p class="text">{{tamano}}</p>


    <h2>6. Solución</h2>

    <h3>6.1 ¿En qué consiste su propuesta de solución?</h3>
    <p class="text">{{solucion}}</p>
    <h3>6.2 ¿Cuál es el estado del arte?</h3>
    <p class="text">{{estado_arte}}</p>
    <h3>6.3 Grado de Madurez Tecnológica de la Solución</h3>
    <p class="text">{{grado_madurez}}</p>
    <h3>6.4 Grado de diferenciación de su propuesta.</h3>
    <p class="text">{{grado_diferenciacion}}</p>
    <h3>6.5 ¿Cuál es la hipótesis que se pondrá a prueba?</h3>
    <p class="text">{{hipotesis}}</p>


    <h2>7. Oportunidad de mercado</h2>

    <h3>7.1 ¿Cuál es el mercado objetivo de su propuesta?</h3>
    <p class="text">{{mercado_obj}}</p>
    <h3>7.2 ¿Cuál es su propuesta de continuidad?</h3>
    <p class="text">{{continuidad}}</p>
    <h3>7.3 ¿Cuál o cuáles son los actores o entidades claves para el desarrollo del proyecto?</h3>
    <p class="text">{{actores}}</p>


    <h2>8. Equipo</h2>

    <h3>Investigador Responsable</h3>

    <ul>
        <li><strong>Nombre: </strong>{{nombre_resp}}</li>
        <li><strong>Rut:  </strong>{{rut_resp}}</li>
        <li><strong> Unidad Academica: </strong>{{ua_resp}}</li>
        <li><strong> CV Responsable: </strong>{{cv_resp}}</li>

    </ul>

    <h3>Investigador@s</h3>
    <p class="text">
        {% for investigador in investigadores %}
            <strong>Nombre del investigador:</strong> {{ investigador.nombre_invest }}<br>
            <strong>Rut del investigador:</strong> {{ investigador.rut_invest }}<br>
            <strong>Unidad academoca del investigador:</strong> {{ investigador.unidad_academica_invest }}<br>
        <br>
        {% endfor %}
    
    </p>
    <h2>9. Entidad Patrocinadora</h2>

    {% for patrocinador in patrocinadores %}
        <p class="text">
            <strong>Nombre patrocindador:</strong> {{patrocinador.nombre_patrot}} <br>
            <strong>Rut patrocindador:</strong> {{patrocinador.rut_patro}} <br>
            <strong>Rubro del patrocindador:</strong> {{patrocinador.rubro_patro}} <br>
            <strong>Región del patrocindador:</strong> {{patrocinador.region_patro}} <br>
            <strong>Ciudad del patrocindador:</strong> {{patrocinador.ciudad_patro}} <br>
            <strong>Descripción:</strong> {{patrocinador.descripcion_patro}} <br>
            <strong>Link carta de patrocinio:</strong> {{patrocinador.link_carta}} <br>
        </p>

    {% endfor %}

    <h2>10. Plan de trabajo y presupuesto</h2>
   

    {% for plan in plan_presupuesto %}
    <div style="margin-bottom: 20px;">
        <p><strong>Objetivo específico:</strong> {{ plan.obj_especifico }}</p>

        <p><strong>Actividades:</strong></p>
        <ul>
            {% for actividad in plan.actividades %}
                <li style="margin-bottom: 10px;">
                    <strong>{{ actividad.nombre_act }}</strong><br>
                    <em>{{ actividad.descripcion.replace('\n', '<br>') | safe }}</em><br>
                    <strong>Presupuesto:</strong> ${{ actividad.presupuesto }}<br>
                    <strong>Duración:</strong> {{ actividad.meses }} meses
                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}

    <p><strong>Presupuesto total:</strong> {{presupuesto_total}}</p>
</body>

</html>